<!DOCTYPE html>
<html>
  <%- include('partials/header')%>
  <body>
    <%- include('partials/nav')%>
    <% if(locals.user){%>
      <h1>Welcome back, <%=  locals.user.first_name%> <%=  locals.user.last_name%></h1>
      
      <form action="/post-message" metHod = 'POST' class = 'post-message'>
        <h2>New Message:</h2>
        <textarea name="message" id="message"></textarea>
        <button type = 'submit'>Post</button>
      </form>
    <% } else {%>
    <%}%>
      <h1>Messages</h1>
    <div class="message-container">
        <% locals.messages.forEach((message) => {%>
            <div class="message">
               <div class="message-details">
                 <% if(locals.user && locals.user.ismember){ %>
                  <p><%=message.first_name%> <%=message.last_name%></p>
                  <p><%=message.date_posted%></p>
                 <%}%>
                  <p><%=  message.text %></p>
               </div>
                 <% if(locals.user && locals.user.is_admin){ %>
                  <form action="/delete-message" method = 'POST' class="delete-message-form">
                    <input type="hidden" name = "message_id" value = <%= message.message_id %> >
                    <button type ='submit'>Delete</button>
                  </form>
                  <%}%>

            </div>
        <% }) %>
    </div>
  </body>
</html>
